.qtnCounts{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100px;
    text-align: center;
    justify-content: space-between;
    color: var(--dark-grey);
    gap: .5rem;
    ul {
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        li {
            font-size: 14px;
            text-transform: lowercase;
            h5{
                font-size: 1.6rem;
            }
        }
    }
}