.questionRow{
    flex: 1;
    display: flex;
    height: 200px;
    padding: 1rem;
    border-bottom: 1px solid var(--ccc);
    .questionSection{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;
        h3{
            color: var(--blue-qtn);
            margin: 0;
            font-weight: 400;
        }
        .qtnTags{
            display: flex;
            gap: .6rem;
        }
    }
}